
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    background: #f5f5f5;
    color: #666;

}
a.nuoroda:link, a.nuoroda:visited {
  width: 82%;
  height: 8%;
  line-height: 2;
  margin: 45px 30px;
  background-color: #0974b3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px 0;

}
a.nuoroda:hover{
  background-color: #06517d;
}


.container{
  width: 80%;
  margin-top: 30px;
  display: inline-flex;
}
h1{
  color: #0974b3;
}
p{
  padding: 20px;
}

img{

  width: 145px;
  height:200px;
  float: left;
  margin: 25px 20px;
  display: inline-block;
}

article{
  height: 800px;
  width: 310px;
  overflow: auto;
  margin: 10px;
  height: min-content;
  padding: 5px;
  border-top: 4px solid #888;
  background: white;

}

article:hover{
  transform: translateY(-5px);
  border-top: 4px solid #0974b3;
}

h1, .metai{
margin: 5px 20px;
}

.deze{
  position: relative;
  left: 0;
  top: 0;
  width: 187px;
  height: 221px;
display: inline-block;
float: left;


}
.overlay{
position: absolute;
display: inline-block;
top: 25px;
bottom: 0;
left: 20px;
right: 0;

    height: 90%;
    width: 78%;

opacity: 0;
transition: .3s ease;
background-color: black;

}

.deze:hover .overlay{
  opacity: 0.5;
}

.material-icons {

  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
